*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #000;
    color: #eee;
    font-size: 12px;
}

header{
    width: 80%;
    height: 50px;
    
    display: flex;
    align-items: center;
    position: relative;
    margin: auto;
    z-index: 2;
}

header a {
    text-decoration: none;
    color: #eee;

    margin-right: 40px;

    font-weight: 300;
}

.main_container{
    height: 100vh;
    width: 100vw;
    margin-top: -50px; /* Para forcar o container a cobrir o header */

    overflow: hidden; /* Para remover o efeito de rolagem do scroll.  */
}

.main_container .list_item{
    width: 100%;
    height: 100%;
    position: absolute;
}

.main_container .list_item img{
    object-fit: cover; /* Para que a imagem seja redimencionado para o tamanho do container.  */
    width: 100%;
    height: 100%;
    filter: brightness(50%); /* Removendo parte do brilho da imagem. */
}

.main_container .list_item .content{
    position: absolute;
    top: 20%;
    right: 10%;

    padding-right: 30%;
    width: 80%;
    color: #eee;
    
    text-shadow: 0 5px 10px #000;
}

.main_container .title{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3rem;
}

.main_container .description{
    font-size: 1.5rem;
    margin-top: 2.2rem;
    line-height: 1.5rem; 
}

.main_container .buttons{
    display: grid;
    grid-template-columns: repeat(2, 8.12rem);
    grid-template-rows: 50px;
    
    gap: 1.3rem;
    margin-top: 1.2rem;
}

.main_container .buttons button{
    border: none;
    background-color: #eee;
    
    letter-spacing: 3px;
    font-weight: 500;
    
    text-transform: uppercase;
    cursor: pointer;
}

.main_container .buttons button:hover{
    background-color: transparent;
    border: 1px solid #eee;
    color: #eee;
    transition: 0.7s;
}

.main_container .buttons button:nth-child(2){ /* Selecionando o segundo button. */
    background-color: transparent;
    border: 1px solid #eee;
    color: #eee;
}

.main_container .buttons button:nth-child(2):hover{ 
    background-color: #eee;
    color: #000;        
    transition: 0.7s;
}

.cards {
    display: flex;
    position: absolute;  

    /* Ajustar responsividade para telas menores */
    bottom: 30px;
    left: 35%;
    gap: 20px;
}

.cards .card{
    width: 135px;
    height: 200px;
    position:relative;
}

.cards .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 10px;
    filter: brightness(80%);
}

.card .content_cards{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.main_container .direcionais{
    display: flex;
    align-items: center;

    position: absolute;
    bottom: 120px;
    left: 120px;
    width: 300px;
    gap: 10px;

}

.direcionais button{
    border-radius: 10px;
    border: none;
    padding: 12px 17px;
    
    background-color: #eee4;
    color: #eee;
    cursor: pointer;

    font-weight: 700;
    font-size: 1.3rem;
}

.direcionais button:hover{
    background-color: #eee;
    color: #000;
    transition: 0.7s;
}

/* Animacao dos cards. */

.main_container.next .cards{
    animation: effectNextCard 0.5s linear 1 forwards;
}

@keyframes effectNextCard {
    from{
        transform: translateX(150px);
    }
}

.main_container.next .cards .cards:nth-last-child(1){
    animation: effectUltimoCard 0.5s linear 1 forwards;
}

@keyframes effectUltimoCard {
    from{
        width: 0;
        opacity: 0;
    }
}

/* Animacao informaçoes. */

.main_container .list_section .listitem  .content, .title, 
.main_container .list_section .listitem  .content, .description,
.main_container .list_section .listitem  .content, .buttons{ 
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }   
}

/* 
.list_section .listitem 
.list_section .listitem 
.list_section .listitem  

*/