* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    background-color: #282828;
    font-family: "Poppins";

    margin: 0 auto;
    max-width: 1120px;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: #fff;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

.cabecalho{
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
}

.cabecalho .logo{
    background-color: orange;
    width: 82px;
    height: 65px;

    border-radius: 50%;
    border: 2px solid #fff;

    font-family: "Raleway";
    text-align: center;
    text-decoration: underline;
    line-height: 55px;
    
    transition: 0.2s;
}

.cabecalho a:hover .logo{
    color: #9443d8;
    border: 2px solid #9443d8 ;
}

.cabecalho .menu ul{
    background-color: red;
}

.cabecalho .menu li a{
    font-size: 20px;
    text-transform: capitalize;

    padding: 10px 20px;

    transition: 0.2s;
}

.cabecalho .menu li a:hover{
    background-color: #9443d8;
    color: #fff;
}