* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    background-color: #282828;
    font-family: "Poppins";

    margin: 0 auto;
    max-width: 1120px;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: #fff;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

.cabecalho{
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
}

.cabecalho .logo{
    background-color: orange;
    width: 82px;
    height: 65px;

    border-radius: 50%;
    border: 2px solid #fff;

    font-family: "Raleway";
    text-align: center;
    text-decoration: underline;
    line-height: 55px;
    
    transition: 0.2s;
}

.cabecalho a:hover .logo{
    color: #9443d8;
    border: 2px solid #9443d8 ;
}

.cabecalho .menu ul{
    background-color: red;
}

.cabecalho .menu li a{
    font-size: 20px;
    text-transform: capitalize;

    padding: 10px 20px;

    transition: 0.2s;
}

.cabecalho .menu li a:hover{
    background-color: #9443d8;
    color: #fff;
}

.main{
    background-color: green;
    
    display: flex;
    align-items: center;
    min-height: calc(100vh - 125px);
    gap: 50px;

    justify-content: space-between;
}

.main .card_info{
    background-color: black;

    display: flex;
    flex-direction: column;
    max-width: 50%;
    gap: 15px;   

    letter-spacing: 2px;
    padding: 0 15px;
}

.main .card_info h1{
    font-family: "Raleway";
    font-size: 45px;

    margin-bottom: 20px;
}

.home .card_info p{
    font-family: "Raleway";
    font-size: 24px;
    margin-bottom: 10px;
}

.card_info .socials_midia{
    background-color: orange;
    display: flex;
    gap: 20px;
}

.card_info .socials_midia a i{
    border: 1px solid #fff;
    border-radius: 50%;
    
    width: 50px;
    height: 50px;
    padding: 10px;

    text-align: center;
    font-size: 25px;

    transition: 0.3s ;
}

.card_info .socials_midia a i:hover{
    color: #9443d8;
    border: 1px solid #9443d8;
    transform: scale(1.1);
}

.card_foto .card_sombra{
    max-width: 450px;
    border-radius: 50%;
    background: linear-gradient(to right, #8a35c8, #18c063, #00eea2);
} 

.card_foto img{
    width: 100%;
    border-radius: 50%;
}

.projects{
    background-color: purple;
    padding: 70px 0;
}

.projects .title{
    padding: 60px 0;
    
    text-transform: uppercase;
    font-size: 45px;
    text-align: center;
    font-weight: 500;
}

.container_projects{
    background-color: yellow;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}
