* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html{
    color: #fff;
    scroll-behavior: smooth; /*Suavizar a barra de rolagem.*/
}

body{
    background-color: #282828;
    font-family: "Poppins";

    margin: 0 auto;
    max-width: 1120px;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: #fff;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
}

.cabecalho .logo{
    width: 82px;
    height: 65px;

    border-radius: 50%;
    border: 2px solid #fff;

    font-family: "Raleway";
    text-align: center;
    text-decoration: underline;
    line-height: 55px;
    
    transition: 0.2s;
}

.cabecalho a:hover .logo{
    color: #9443d8;
    border: 2px solid #9443d8 ;
}

.cabecalho .menu li a{
    font-size: 20px;
    text-transform: capitalize;

    padding: 10px 20px;

    transition: 0.2s;
}

.cabecalho .menu li a:hover{
    background-color: #9443d8;
    color: #fff;
}

.main{
    display: flex;
    align-items: center;
    min-height: calc(100vh - 125px);
    gap: 50px;

    justify-content: space-between;
}

.main .card_info{

    display: flex;
    flex-direction: column;
    max-width: 50%;
    gap: 15px;   

    letter-spacing: 2px;
    padding: 0 15px;
}

.main .card_info h1{
    font-family: "Raleway";
    font-size: 45px;

    margin-bottom: 20px;
}

.home .card_info p{
    font-family: "Raleway";
    font-size: 24px;
    margin-bottom: 10px;
}

.card_info .socials_midia{
    display: flex;
    gap: 20px;
}

.card_info .socials_midia a i{
    border: 1px solid #fff;
    border-radius: 50%;
    
    width: 50px;
    height: 50px;
    padding: 10px;

    text-align: center;
    font-size: 25px;

    transition: 0.3s ;
}

.card_info .socials_midia a i:hover{
    color: #9443d8;
    border: 1px solid #9443d8;
    transform: scale(1.1);
}

.card_foto .card_sombra{
    max-width: 450px;
    border-radius: 50%;
    background: linear-gradient(to right, #8a35c8, #18c063, #00eea2);
} 

.card_foto img{
    width: 100%;
    border-radius: 50%;
}

.projects{
    padding: 70px 0;
}

.projects .title{
    padding: 60px 0;
    
    text-transform: uppercase;
    font-size: 45px;
    text-align: center;
    font-weight: 500;
}

.container_projects{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}

.project_active{
    max-width: 260px;   
    max-height: 500px;
    position: relative;
    /* display: block; */
}

.container_projects .project{
    max-width: 260px;   
    max-height: 500px;
    position: relative;

    display: none; /*Tera que desbloquear com JavaScript*/
}

.container_projects .project_active .project img{
    height: 100%;
}

.container_projects .project_active h3{
    background-color: #040203;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
    position: absolute;
    bottom: 0;
}

.container_projects .info_project {
    background-color: #040203;
    
    position: absolute;
    top: 0; /*Para ficar sobre o card*/
    padding: 20px;

    width: 100%;
    height: 100%;
    font-weight: 600;
    
    opacity: 0; /*Toranara visivel com efeito hover.*/
    transition: 0.3s;
}

.container_projects .info_project:hover{
    opacity: 0.7;
    background-color: #000;
}

.projects .wantMore{
    background: none;
    
    border: 1px solid #fff;
    border-radius: 15px;
    
    width: 180px;
    padding: 20px;
    margin: 0 auto;
    
    font-size: 18px;
    font-weight: 600;
    
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.projects .wantMore:hover{
    background-color: yellow;
    color: black;
    transform: 0.3s;
}

.projects .wantMore .remover{
    display: none; /*Aplicar efeito de remosao via JS.*/
}
