body{
    margin: 0px;
    font-family: 'Open Sans';
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 55px;
}

nav , a {
    text-decoration:none;
}

h1, ul{
    font-family: 'Mulish';        
}

ul li a:hover{
    font-weight: bold;
    color: #1F1534;
}

ul {
    list-style: none;
    display: flex;
    gap: 48px;
    margin: 0;
    padding: 0;    
}

.page{
    /* border: 1px solid red; */
    width: 1000px;
    margin: 65px auto 0;
}

h1{ 
    font-size: 49px;
    line-height: 56px;
    color: #000; 

    font-weight: normal;
    width: 490px;

}

h1 span{
    color: #89c5cc;
    font-weight: bold;
}

section p{
    font-size: 14px; 
    line-height: 28px;
    color: #7d7987;

    margin: 40px 0;

}

button{
    text-transform: uppercase;
    font-family: 'Open Sans';
    background: #69b99d;
    
    border-radius: 4px;
    border: 0;
    padding: 14px 32px 15px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

button:hover {
    cursor: pointer;
    font-weight: bold;
}

footer{
    font-size: 14px;
    line-height:28px;

    text-align: center;
    margin-top: 80px;
}

footer a {
    font-weight: bold;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

