*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
}

.quadradinho{
    margin-top: 16px;

    width: 4rem;
    height: 4rem;
    background-color: orangered;
    opacity: .6;

}

.quadradinho{
    animation-name: mover; /* Chamando a animacao. */
    animation-duration: 1s; /* Definindo tempo de duracao da animacao. */

    animation-fill-mode: forwards; /* Mantem o resultado final da animacao. */

    /* animation-direction: reverse; Reverte a animacao. */
}

/* Toda animacao possui uma linha do tempo, com inicio, meio e fim.  */
@keyframes mover {
    
    0% { /* Inicio da animacao. */

    }
    
    50% { /* Fim da animacao. */
        transform: translateX(calc(100vw - 100% - 16px));
    }
    
    100% { /* Fim da animacao. */
        /* transform: translateX(calc(100vw - 100% - 16px)); */
        
    }

}