*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
}

.quadradinho{
    width: 4rem;
    height: 4rem;
    background-color: orangered;
    opacity: .9;
}

/* Toda animacao tem inicio, meio e fim.  */
@keyframes move {
    
    0%{

    }

    100%{
        
    }

}