*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
}

.quadradinho{
    margin-top: 16px;

    width: 4rem;
    height: 4rem;
    background-color: orangered;
    opacity: .6;

}

.quadradinho{
    animation-name: mover, piscar; /* Chamando a animacao. */
    animation-duration: 3.5s, 200ms; /* Definindo tempo de duracao da animacao. */

    /* animation-fill-mode: forwards;  */
    /* Mantem o resultado final da animacao. */

    /* animation-direction: reverse; Reverte a animacao. */
    
    animation-direction: alternate; /* Alterna o efeito de animacao. */
    animation-iteration-count: infinite;

    /* animation-timing-function: ease-out; */
    animation-timing-function: steps(10); /* Definindo intervalos para execucao. */

    /* ShortHand. 
    animation: move 1s forwards alternate infinite, piscar 200s infinite steps(10); 
    */

}

.quadradinho:hover{
    animation-play-state: paused; /* Definira se a animacao será inicia ou pausada */
}

/* Toda animacao possui uma linha do tempo, com inicio, meio e fim.  */
@keyframes mover {
    
    0% { /* Inicio da animacao. */

    }
    
    50% { /* Fim da animacao. */
        /* transform: translateX(calc(100vw - 100% - 16px)); */
    }
    
    100% { /* Fim da animacao. */
        transform: translateX(calc(100vw - 100% - 16px));
        
    }

}

@keyframes piscar {

    /* 
    Para usar uma segunda animacao.
    Na propriedade "animation:" basta separar com a virgula"," 
    Veja como na linha 22.    
    */

    0%, 100%{
        opacity: .6;
    }

    50%{
        opacity: 1;
    }    
}
