*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}

.card{
    width: 412px;
    height: 364px;
    border-radius: 4px;
    background: black; /* caso corrompa a imagem */
    
    display: flex;
    gap: 5px;
    padding: 0.4rem;
}