*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}

.card{
    width: 412px;
    height: 364px;
    border-radius: 4px;
    background: black; /* caso corrompa a imagem */
    
    display: flex;
    gap: 5px;
    padding: 0.4em;
}

.imagem img{
    /* para que a imagem se ajuste ao .card e ocupe o espaco corretamente */
    width: 100%;
    height: 100%;
}

.card a{
    height: 100%;
    flex: 1;

    overflow: hidden;
    border-radius: 2px;
    transition: all .5s;

    background: #212121;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.card a:hover{
    /* quando o mouse estier sobre link "a" o hover permitira a expansao */
    flex:4;
}

.card a span{
    min-width: 16em;
    padding: 0.5em;
    transform: rotate(-90deg);    
    transition: all 0.5s;
}

.card a:hover span{
    transform: rotate(0);
}