/* Estilos utilitarios */

.grid{
    display: grid;
}

.grid-flow-col{
    grid-auto-flow: column;
}

.grid-cols-2{
    grid-template-columns: 1fr 1fr;
}

.gap_16{
    gap: 16px;
}

.text_2xl{
    font: var(--h1);
}

.text_xl{
    font: var(--h2);
}

.text_lg{
    font: var(--h3);
}

.text_sm{
    font: var(--h1);
}