*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-base-blue01: #387e96;
    --color-base-blue02:#62a1b6;
    --color-base-white: #f4fcff;
}

body{
    background-color: var(--color-base-white);
    /* Ajuste para o mobile. */
    /* padding: 1.0rem 0.3rem 6.6rem;  */
}

p{
    font-family: 'Mulish';
    font-size: 1.0rem;
}

img{
    width: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

main{
    margin-top: 1.6rem;
    padding: 0 0 0 1.6rem;
}

.app{
    display: grid;
    height: 100Vh;
}

.content_header{
    
    background-color: var(--color-base-blue01);
    
    display: flex;
    align-items: center;
    
    padding: 1.2rem 0 1.0rem 11.2rem;
    width: 84.3rem;
    height: 5.2rem;
    gap: 20px;
    margin: 0 auto;
}

.content_header img{
    width: 3.0rem;
    height: 3.0rem;
    border-radius: 50%;
    object-fit: cover;
}

.input_form label{
    /* Tornando a TAG visivel apenas para o navegador. */
    width: 1px;
    height: 1px;

    overflow: hidden;
    position: absolute;
}

.input_form input{
    background-color: var(--color-base-blue02);

    width: 51.3rem;
    height: 2.7rem;
    padding: 0 0 0 0.6rem;

    border: 0;
    border-radius: 0.4rem;

    font-size: 1.6rem;
    font-weight: 600;
}

main{
    display: grid;
    grid-template-columns: 38rem 30rem;
    gap: 2.9rem;
}

.container_main{
    width: min(94rem, 100%);
}

.item img{
    grid-column: 1/4;
    border-radius: 0rem 0rem 0.4rem 0.4rem;
}

.item a img{
    width: 2.0rem;
    height: 2.0rem;
}

.icons{
    display: flex;
    justify-content: space-between;
} 

.content_info p{
    gap: 15px;
    padding: 10px 0;
}

.gallery{
    display: grid;
    grid-template-columns: 41.7rem;
    gap: 2.0rem;
}

.gallery img{
    width: 35.1rem;
    height: 6.4rem; 
    padding-right: 1.0rem;
}

.gallery .card{
    display: flex;
}

.foot{
    background-color: var(--color-base-blue01);
    color: antiquewhite;
    
    margin-top: 2.0rem;

    width: 84.3rem;   
    height: 4.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
   
}