*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* ajuste para flexibilidade */
    font-size: 62.5%;
}

body{
    /* background: #ece9fd; */
    background: #9289c9;
    padding: 6.0rem 2.3rem 6.6rem;
}


h1{
    font-family: 'Epilogue', sans-serif;
    font-size: 4.0rem;
    line-height: 4.8rem;
}

ul{
    list-style: none;
}