
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
}

header{
    background-color: #1e1e1e;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

    /* position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    */
}

.logo{
    display: flex;
    gap: 0.9rem;
    align-items: center;
}

.logo h2{
    font-size: 2rem;
    color: #fff; 
    user-select: none;
}

.navegador a{
    position: relative;
    
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: bold;
    margin-left: 1.5rem;
}

.navegador a::after{ /* Criando um pseudo elemento */
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    
    background: grey;
    border-radius: 3px;

    left: 0;
    bottom: -6px;

    transform: scaleX(0);/* Ocultando o elemento */
    transition: ease-in-out .25s; /* Suavizando o efeito de transicao */
    transform-origin: left;
}

.navegador a:hover::after{ /* Apresentando o elemento */
    transform: scaleX(1);
}

.user_options{
 display: flex;
 align-items: center;
 gap: 0.9rem;
 margin-right: 0.9rem;
}

.user_options input{
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ffa500;
}

.btn_login{
    width: 130px;
    height: 50px;
    margin-left: 2rem;
    
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;

    cursor: pointer;

    background: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    outline: none;
}

.btn_login:hover{
    background: darkgray;
}

/* Responsividade do Header */

@media(max-width: 1024px){
    header{
        flex-direction: column;
        gap: 0.9rem;
        padding: 1.8rem;
    }
    .logo{
        display: flex;
        gap: 15px;
        margin-bottom: 0;
    }
    .navegador a{
        margin-left: 0.9rem;
    }
}

.product_details{
    max-width: 1200px;
    display: flex;
    margin: 20px auto;
    padding: 20px;
}

.product_gallery{
    flex: 1;
}

.product_gallery img{
    width: 100%;
    border-radius: 10px;
}
.gallery_imgs{
    display: flex;
    gap: 7px;
    margin-top: 10px;
}
.gallery_imgs img{
    width: 110px;
    cursor: pointer;
    border: 2px solid transparent; /* Pare evitar o efeito de frek */
    transition: 0.3s;
}
.gallery_imgs img:hover{ 
    border: 4px solid #ffa500; 
    
}

.product_info{
    flex: 1;
}

.product_info{
    margin: 12px;
    padding: 12px;
}

.product_path, .product_code{
    font-size: .7rem;
    color: #777;
    margin-bottom: 0.6rem;
}

.product_info h2{
    color: #e0e0e0;
    font-size: 2.5rem;
}

.price{
    font-size: 2rem;
    color:#ffa500;
}

.rating{
    color: #81c784;
    font-size: 1.0rem;
    margin: 0.6rem 0 0.6rem 0;
}

.product_description{
    font-size: 1.2rem;
    line-height: 1.5;
    color: #b0b0b0;
    margin-bottom: 13px;
}

.product_options label{
    color: #fff;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

#color, #quantity{
    width: 100%;
}

.product_options select, .product_options input{
    padding: 10px;
    color:#ffa500;
    margin-top: 5px;
    border: 1px solid #333;
    border-radius: 5px;
    font-weight: bold;
}

.buttons{
    display: flex;
    gap: 15px;
}

.cart, .wish_list{
    font-weight: bold;
    margin: 0.9rem 0 0.9rem 0;
    padding: 15px 30px;
    background-color: #1e1e1e;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}

.cart:hover{
    color: #81c784;
}

.wish_list{
    border: 2px solid #ffa500;
    color: #ffa500;
}

.wish_list:hover {
    border: 3px solid #ffa500;
    background-color: #1e1e1e;
    color: #c70404;
}

.delivery{
    margin-top: 20px;
    color: #777;
    font-size: 0.9rem;
    cursor: pointer;
}

.delivery:hover{
    font-size: 16px;
    color: #ffa500;
}

.product-specs{
    margin: 20px;
    color: #fff;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
}

.tabs{
    display: flex;
    gap: 30px;
    list-style-type: none;
    border-bottom: 2px solid #333;
    padding: 20px;
    margin-bottom: 20px;
}

.tabs li{
    font-weight: bold;
    cursor: pointer;
    color: #777;
}

.specs-content p{
    font-size: 1rem;
    color: #b0b0b0;
    margin: 10px 0;

}