:root{
    --font-family:"Poltawski Nowy", serif;
   
    --text: 400 1rem/1.5 var(--font-family);
    --text-sm: 400 .875rem/1.4 var(--font-family);

    --text-primary: #292524;
    --text-secundary: #57534e;
    --text-tertiary: #8f8881;
    --text-highlight: #e43a12;
    
    --surface-primary: #ffffff;
    --surface-secundary: #fee7d6;
    --surface-disabled: #e7e5e4;
    --stroke-default: #d6d3d1;
    --stroke-highlight: #f3541c;
    
    --semantic-error: #dc2626s;
    
    --brand-light: #f67841;
    --brand-mid: #f3541c;
    --brand-dark: #ea3a12;
    
}