*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
    
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    overflow: hidden;

}

fieldset {
    border: none;
}